from ..base import AdyenServiceBase


class ClientCertificatesCompanyLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super().__init__(client=client)
        self.service = "management"
        self.baseUrl = "https://management-test.adyen.com/v3"

    def generate_client_certificate(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Generate a client certificate
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/clientCertificates"
        method = "POST"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def list_client_certificates(self, companyId, idempotency_key=None, **kwargs):
        """
        Retrieve all valid client certificates for this company
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/clientCertificates"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )
