from ..base import AdyenServiceBase


class DonationCampaignsApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super().__init__(client=client)
        self.service = "management"
        self.baseUrl = "https://management-test.adyen.com/v3"

    def create_donation_campaign(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Create a donation campaign
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/campaignManagement"
        method = "POST"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def delete_donation_campaign(
        self, companyId, donationCampaignId, idempotency_key=None, **kwargs
    ):
        """
        Delete a donation campaign
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/campaignManagement/{donationCampaignId}"
        method = "DELETE"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def list_donation_campaigns_for_account_holder(
        self, companyId, accountHolderId, idempotency_key=None, **kwargs
    ):
        """
        Get the donation campaigns for an account holder
        """
        endpoint = (
            self.baseUrl
            + f"/companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}"
        )
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def list_nonprofits(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of nonprofits
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/nonprofits"
        method = "POST"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def update_donation_campaign(
        self, request, companyId, donationCampaignId, idempotency_key=None, **kwargs
    ):
        """
        Update a donation campaign
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/campaignManagement/{donationCampaignId}"
        method = "PATCH"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def update_donation_campaign_status(
        self, companyId, donationCampaignId, status, idempotency_key=None, **kwargs
    ):
        """
        Activate or end a donation campaign
        """
        endpoint = (
            self.baseUrl
            + f"/companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}"
        )
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )
