from ..base import AdyenServiceBase


class TerminalThemesCompanyLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super().__init__(client=client)
        self.service = "management"
        self.baseUrl = "https://management-test.adyen.com/v3"

    def add_terminal_theme_asset_for_company(self, companyId, id, idempotency_key=None, **kwargs):
        """
        Add an asset to a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}/assets"
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def apply_terminal_theme_for_company(self, companyId, id, idempotency_key=None, **kwargs):
        """
        Apply a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}/apply"
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def create_terminal_theme_for_company(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Create a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes"
        method = "POST"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def delete_terminal_theme_asset_for_company(
        self, companyId, id, idempotency_key=None, **kwargs
    ):
        """
        Delete an asset from a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}/assets"
        method = "DELETE"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def delete_terminal_theme_for_company(self, companyId, id, idempotency_key=None, **kwargs):
        """
        Delete a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}"
        method = "DELETE"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def edit_terminal_theme_asset_for_company(self, companyId, id, idempotency_key=None, **kwargs):
        """
        Replace a theme asset
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}/assets/replace"
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_terminal_theme_by_id_for_company(self, companyId, id, idempotency_key=None, **kwargs):
        """
        Get a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def list_terminal_themes_for_company(self, companyId, idempotency_key=None, **kwargs):
        """
        List terminal themes
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def unapply_terminal_theme_for_company(self, companyId, idempotency_key=None, **kwargs):
        """
        Unapply a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/unapply"
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def update_terminal_theme_for_company(
        self, request, companyId, id, idempotency_key=None, **kwargs
    ):
        """
        Update the metadata of a terminal theme
        """
        endpoint = self.baseUrl + f"/companies/{companyId}/terminalThemes/{id}"
        method = "PATCH"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )
