from ..base import AdyenServiceBase


class TerminalThemesTerminalLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super().__init__(client=client)
        self.service = "management"
        self.baseUrl = "https://management-test.adyen.com/v3"

    def apply_terminal_theme_for_terminal(self, terminalId, id, idempotency_key=None, **kwargs):
        """
        Apply a terminal theme
        """
        endpoint = self.baseUrl + f"/terminals/{terminalId}/terminalThemes/{id}/apply"
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def unapply_terminal_theme_for_terminal(self, terminalId, idempotency_key=None, **kwargs):
        """
        Unapply a terminal theme
        """
        endpoint = self.baseUrl + f"/terminals/{terminalId}/terminalThemes/unapply"
        method = "POST"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )
