*.pyc
*.log
*.DS_Store
*.pypirc
releaseguide.md
venv/
.idea/
.coverage
.vagrant/
Adyen.egg-info/top_level.txt
Adyen.egg-info/SOURCES.txt
Adyen.egg-info/PKG-INFO
Adyen.egg-info/dependency_links.txt
.env
test.py
