from ..base import AdyenServiceBase


class CardOrdersApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super(CardOrdersApi, self).__init__(client=client)
        self.service = "balancePlatform"
        self.baseUrl = "https://balanceplatform-api-test.adyen.com/bcl/v2"

    def get_card_order_items(self, id, idempotency_key=None, **kwargs):
        """
        Get card order items
        """
        endpoint = self.baseUrl + f"/cardorders/{id}/items"
        method = "GET"
        return self.client.call_adyen_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def list_card_orders(self, idempotency_key=None, **kwargs):
        """
        Get a list of card orders
        """
        endpoint = self.baseUrl + f"/cardorders"
        method = "GET"
        return self.client.call_adyen_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

