from ..base import AdyenServiceBase


class ManagedPayoutSchedulesApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super().__init__(client=client)
        self.service = "balancePlatform"
        self.baseUrl = "https://balanceplatform-api-test.adyen.com/bcl/v2"

    def apply_managed_schedule(self, request, balanceAccountId, idempotency_key=None, **kwargs):
        """
        Apply a managed payout schedule to a balance account
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/payoutSchedules"
        method = "POST"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def delete_balance_account_managed_schedule(
        self, balanceAccountId, id, idempotency_key=None, **kwargs
    ):
        """
        Delete a managed payout schedule on a balance account
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}"
        method = "DELETE"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_balance_account_managed_schedule_by_id(
        self, balanceAccountId, id, idempotency_key=None, **kwargs
    ):
        """
        Get a specific managed payout schedule on a balance account
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_balance_account_managed_schedules(
        self, balanceAccountId, idempotency_key=None, **kwargs
    ):
        """
        Get all managed payout schedules on a balance account
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/payoutSchedules"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_balance_platform_managed_schedule_by_id(
        self, balancePlatformId, id, idempotency_key=None, **kwargs
    ):
        """
        Get a specific managed payout schedule on your balance platform
        """
        endpoint = self.baseUrl + f"/balancePlatforms/{balancePlatformId}/payoutSchedules/{id}"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_balance_platform_managed_schedules(
        self, balancePlatformId, idempotency_key=None, **kwargs
    ):
        """
        Get all managed payout schedules on your balance platform
        """
        endpoint = self.baseUrl + f"/balancePlatforms/{balancePlatformId}/payoutSchedules"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_payout_schedule_executions(self, balanceAccountId, id, idempotency_key=None, **kwargs):
        """
        View executions of a managed payout schedule
        """
        endpoint = (
            self.baseUrl + f"/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions"
        )
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def update_balance_account_managed_schedule(
        self, request, balanceAccountId, id, idempotency_key=None, **kwargs
    ):
        """
        Update a managed payout schedule on a balance account
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}"
        method = "PATCH"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )
