from ..base import AdyenServiceBase


class RecurringTopUpsApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super().__init__(client=client)
        self.service = "balancePlatform"
        self.baseUrl = "https://balanceplatform-api-test.adyen.com/bcl/v2"

    def create_recurring_top_up(self, request, balanceAccountId, idempotency_key=None, **kwargs):
        """
        Create recurring top up
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/recurringTopUps"
        method = "POST"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def delete_recurring_top_up(self, balanceAccountId, topUpId, idempotency_key=None, **kwargs):
        """
        Delete a recurring top up
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}"
        method = "DELETE"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def get_recurring_top_ups(self, balanceAccountId, idempotency_key=None, **kwargs):
        """
        Get recurring top ups for a specific balanceAccountId
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/recurringTopUps"
        method = "GET"
        return self.client.call_adyen_api(
            None, self.service, method, endpoint, idempotency_key, **kwargs
        )

    def update_recurring_top_ups(
        self, request, balanceAccountId, topUpId, idempotency_key=None, **kwargs
    ):
        """
        Update a RecurringTopUp
        """
        endpoint = self.baseUrl + f"/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}"
        method = "PATCH"
        return self.client.call_adyen_api(
            request, self.service, method, endpoint, idempotency_key, **kwargs
        )
