"""
    Management API

    Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```  # noqa: E501

    The version of the OpenAPI document: 1
    Contact: developer-experience@adyen.com
    Generated by: https://openapi-generator.tech
"""

from ..base import AdyenServiceBase


class AllowedOriginsCompanyLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super(AllowedOriginsCompanyLevelApi, self).__init__(client=client)
        self.service = "management"

    def delete_companies_company_id_api_credentials_api_credential_id_allowed_origins_origin_id(self, companyId, apiCredentialId, originId, idempotency_key=None, **kwargs):
        """
        Delete an allowed origin
        """
        endpoint = f"/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}"
        endpoint = endpoint.replace('/','',1)
        method = "DELETE"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_api_credentials_api_credential_id_allowed_origins(self, companyId, apiCredentialId, idempotency_key=None, **kwargs):
        """
        Get a list of allowed origins
        """
        endpoint = f"/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_api_credentials_api_credential_id_allowed_origins_origin_id(self, companyId, apiCredentialId, originId, idempotency_key=None, **kwargs):
        """
        Get an allowed origin
        """
        endpoint = f"/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_api_credentials_api_credential_id_allowed_origins(self, request, companyId, apiCredentialId, idempotency_key=None, **kwargs):
        """
        Create an allowed origin
        """
        endpoint = f"/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)



