"""
    Management API

    Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```  # noqa: E501

    The version of the OpenAPI document: 1
    Contact: developer-experience@adyen.com
    Generated by: https://openapi-generator.tech
"""

from ..base import AdyenServiceBase


class TerminalOrdersCompanyLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super(TerminalOrdersCompanyLevelApi, self).__init__(client=client)
        self.service = "management"

    def get_companies_company_id_billing_entities(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of billing entities
        """
        endpoint = f"/companies/{companyId}/billingEntities"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_shipping_locations(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of shipping locations
        """
        endpoint = f"/companies/{companyId}/shippingLocations"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_terminal_models(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of terminal models
        """
        endpoint = f"/companies/{companyId}/terminalModels"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_terminal_orders(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of orders
        """
        endpoint = f"/companies/{companyId}/terminalOrders"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_terminal_orders_order_id(self, companyId, orderId, idempotency_key=None, **kwargs):
        """
        Get an order
        """
        endpoint = f"/companies/{companyId}/terminalOrders/{orderId}"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_terminal_products(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of terminal products
        """
        endpoint = f"/companies/{companyId}/terminalProducts"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def patch_companies_company_id_terminal_orders_order_id(self, request, companyId, orderId, idempotency_key=None, **kwargs):
        """
        Update an order
        """
        endpoint = f"/companies/{companyId}/terminalOrders/{orderId}"
        endpoint = endpoint.replace('/','',1)
        method = "PATCH"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_shipping_locations(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Create a shipping location
        """
        endpoint = f"/companies/{companyId}/shippingLocations"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_terminal_orders(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Create an order
        """
        endpoint = f"/companies/{companyId}/terminalOrders"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_terminal_orders_order_id_cancel(self, companyId, orderId, idempotency_key=None, **kwargs):
        """
        Cancel an order
        """
        endpoint = f"/companies/{companyId}/terminalOrders/{orderId}/cancel"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)



