"""
    Management API

    Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```  # noqa: E501

    The version of the OpenAPI document: 1
    Contact: developer-experience@adyen.com
    Generated by: https://openapi-generator.tech
"""

from ..base import AdyenServiceBase


class TerminalActionsCompanyLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super(TerminalActionsCompanyLevelApi, self).__init__(client=client)
        self.service = "management"

    def get_companies_company_id_android_apps(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of Android apps
        """
        endpoint = f"/companies/{companyId}/androidApps"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_android_certificates(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of Android certificates
        """
        endpoint = f"/companies/{companyId}/androidCertificates"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_terminal_actions(self, companyId, idempotency_key=None, **kwargs):
        """
        Get a list of terminal actions
        """
        endpoint = f"/companies/{companyId}/terminalActions"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_terminal_actions_action_id(self, companyId, actionId, idempotency_key=None, **kwargs):
        """
        Get terminal action
        """
        endpoint = f"/companies/{companyId}/terminalActions/{actionId}"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)



