"""
    Management API

    Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```  # noqa: E501

    The version of the OpenAPI document: 1
    Contact: developer-experience@adyen.com
    Generated by: https://openapi-generator.tech
"""

from ..base import AdyenServiceBase


class WebhooksCompanyLevelApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super(WebhooksCompanyLevelApi, self).__init__(client=client)
        self.service = "management"

    def delete_companies_company_id_webhooks_webhook_id(self, companyId, webhookId, idempotency_key=None, **kwargs):
        """
        Remove a webhook
        """
        endpoint = f"/companies/{companyId}/webhooks/{webhookId}"
        endpoint = endpoint.replace('/','',1)
        method = "DELETE"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_webhooks(self, companyId, idempotency_key=None, **kwargs):
        """
        List all webhooks
        """
        endpoint = f"/companies/{companyId}/webhooks"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_companies_company_id_webhooks_webhook_id(self, companyId, webhookId, idempotency_key=None, **kwargs):
        """
        Get a webhook
        """
        endpoint = f"/companies/{companyId}/webhooks/{webhookId}"
        endpoint = endpoint.replace('/','',1)
        method = "GET"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def patch_companies_company_id_webhooks_webhook_id(self, request, companyId, webhookId, idempotency_key=None, **kwargs):
        """
        Update a webhook
        """
        endpoint = f"/companies/{companyId}/webhooks/{webhookId}"
        endpoint = endpoint.replace('/','',1)
        method = "PATCH"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_webhooks(self, request, companyId, idempotency_key=None, **kwargs):
        """
        Set up a webhook
        """
        endpoint = f"/companies/{companyId}/webhooks"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_webhooks_webhook_id_generate_hmac(self, companyId, webhookId, idempotency_key=None, **kwargs):
        """
        Generate an HMAC key
        """
        endpoint = f"/companies/{companyId}/webhooks/{webhookId}/generateHmac"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def post_companies_company_id_webhooks_webhook_id_test(self, request, companyId, webhookId, idempotency_key=None, **kwargs):
        """
        Test a webhook
        """
        endpoint = f"/companies/{companyId}/webhooks/{webhookId}/test"
        endpoint = endpoint.replace('/','',1)
        method = "POST"
        return self.client.call_api(request, self.service, method, endpoint, idempotency_key, **kwargs)



