from ..base import AdyenServiceBase


class GrantOffersApi(AdyenServiceBase):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, client=None):
        super(GrantOffersApi, self).__init__(client=client)
        self.service = "capital"
        self.baseUrl = "https://balanceplatform-api-test.adyen.com/capital/v1"

    def get_all_grant_offers(self, idempotency_key=None, **kwargs):
        """
        Get all available grant offers
        """
        endpoint = self.baseUrl + f"/grantOffers"
        method = "GET"
        return self.client.call_adyen_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

    def get_grant_offer(self, id, idempotency_key=None, **kwargs):
        """
        Get the details of a grant offer
        """
        endpoint = self.baseUrl + f"/grantOffers/{id}"
        method = "GET"
        return self.client.call_adyen_api(None, self.service, method, endpoint, idempotency_key, **kwargs)

